body {
    
}

#components-layout-demo-top .logo {
    width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);
    margin: 16px 24px 16px 0;
    float: left;
}

.ant-layout-content {
    padding: '15px 15px' !important;
}

.ant-row .ant-form-item {
    margin-bottom: 0px;
}

.ant-col .ant-form-item-label {
    margin-bottom: -7px;
}

.ant-btn { 
    margin-top: 10px;
}

.ant-table-wrapper {
    margin-top: 25px;
}

.ant-radio-group {
    display: block !important;
}